/* 
    Created on : 10/03/2019, 08:14:26
    Author     : pc
*/
body{background-color:aliceblue;
}  

button{
    background-color:transparent;   color:black;
    width: 160px;                  height: 30px;
    font-size: 25px;               font-family:serif;
    border: none;
}

/*Página inicial*/
#inicioBotaoBemVindo{
    padding: 15px 0px 0px 40px;
    text-decoration: none;
    font-size: 30px;        position: absolute;
    width: 240px;           height: 60px;

}

#imagemInicial{
    position:relative;
    
    background-color: black;
    width: 550px;             
    border-radius: 35px;   
    padding: 10px;
    border-right: 15px;
    border-left: 15px;
    margin-left: 30%;
    
    
    
}

#comoVemos{
    position:relative;
    width: 100%;     
    height:auto;
    font-size: 22px;          
    background-color:black;
    color:white;
    padding: 2%;
}

#historiaClinica{
    width: 500px;
    color:black;
    font-size:22px;
    text-align: center;
    border: black dotted 2px;
    margin-left: 30%;
    padding: 5%;
    margin-top: 2%;

}
#TituloHistoriaClinica{
    text-align: center;
    margin-bottom: 30px;
}

/*Página de Médicos*/
#medico01{
    width: 60%;
    height: 350px;
    position: relative;

    color:black;
    margin-left: 30%;
}
.textoMedico{
    font-size:20px;

}

#medico02{
    position: relative;
    width: 30%;

    left: 35%;
    top: -370px;
    color: black;
}

#medico03{
    width: 20%;
    position: relative;
    margin-top:50px;
    margin-bottom: 50px;
    color: black;
    padding: 2%;
    margin:2%;
    left: 45%;

}

#medico04{
    width: 80%;
    position: relative;

    color:black;
    margin:2%;
    padding: 2%;
}

#botoesMenu{
    margin-top: 30px;
    margin-left:300px;
    position: relative;
}

.tituloPagina{
    font-family: optima;
    font-size: 40px;
    font-style: italic;
    text-align: center;
    padding: 5px;
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 5%;
    margin-bottom: 5%;
}
#botaoFaleConosco{
    background-color:whitesmoke;
    color: black;
    font-size: 20px;
    font-family: optima;
}
#faleconoscotitulo{
    text-align: left;
}

#formulario{
    background-color:black;
    padding: 2%;
    width:98%;
    position: absolute;
    margin-top: 10%;
    left: 0;
    color:white;
    font-size: 16px;
}
#contato{
    background-color: transparent;
    padding:10%;
    font-size:20px;
    font-family:optima;
    height: 210px;
    width: 20%;
    align-self: flex-end;
    position: relative;
    left: 750px;
    color:white;
    margin-top: 10%;
}
.divespecialidades{
    margin: 20px;
    width: 75%;
    font-size: 18px;
}
.divexames{
    margin: 20px;
    width: 75%;
    font-size: 18px;
}

.limparFloat{
    clear: both;
}