
body{
/*background-image: url(../imagens/fundo2.jpg);*/
background-repeat: no-repeat;
background-size:100%;
margin: 0;

}  
hr{
    height: 1%;
    background-color: black;
}
button{
    background-color:transparent;   color:black;
    width: 160px;                  height: 35px;
    font-size: 25px;               font-family:serif;
    border: none;
    margin-top:0;
}
/*Página inicial*/

#comoVemos{
    width:50%;    
    height:auto;
    font-size: 22px;          
    background-color:darkturquoise;
    color:white;
    padding: 2%;
    float:right;
    margin-top: 10%;
    
}

#historiaClinica{
    
    padding: 5%;
    text-align:center;
    width: 500px;
    height: 700px;
    color:black;
    font-size:22px;
    float:left;
}
#TituloHistoriaClinica{
    text-align: center;
}

/*Página de Médicos*/
#medico01{
    width: 60%;
    height: 350px;
    position: relative;
    color:black;
    margin-left: 30%;
}

.textoMedico{
    font-size:20px;

}

#medico02{
    position: relative;
    width: 30%;

    left: 35%;
    top: -370px;
    color: black;
}

#medico03{
    width: 20%;
    position: relative;
    margin-top:50px;
    margin-bottom: 50px;
    color: black;
    padding: 2%;
    margin:2%;
    left: 45%;

}

#medico04{
    width: 80%;
    position: relative;
    color:black;
    margin:2%;
    padding: 2%;
}
.botoesMenu{
     color: black;
}
#botoesMenu{
    margin-top: 30px;
    margin-left:300px;
    position: relative;
   
}

.tituloPagina{
    font-family: optima;
    font-size: 50px;
    font-style: italic;
    text-align: center;
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 5%;
    margin-bottom: 5%;
}
#botaoFaleConosco{
    background-color:darkcyan;
    color: white;
    font-size: 25px;
    font-family: optima;
    width: 200px;
    height: 35px;
    margin-bottom: 40px;
}
#faleconoscotitulo{
    text-align: left;
    padding: 0;
}
.input{
    height:22px;
}
#formulario{
    background-color:darkturquoise;
    padding: 1%;
    width:98%;
    position: absolute;
    margin-top: 10%;
    left: 0;
    color:white;
    font-size: 20px;
}
#contato{
    background-color: transparent;
    padding:10%;
    font-size:20px;
    font-family:optima;
    height: 210px;
    width: 20%;
    align-self: flex-end;
    position: relative;
    left: 800px;
    color:white;
    margin-top: 15%;
}
.divespecialidades{
    margin: 20px;
    width: 75%;
    font-size: 18px;
}
.divexames{
    margin: 20px;
    width: 75%;
    font-size: 18px;
}
.limparFloat{
    clear: both;
}